body {
  font-size: large;
}

button {
  cursor: pointer;
}

input, select, button {
  outline: none;
}

.App {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 400px;
}

.submit-btn {
  float: right;
}

.current { 
  color: red;
}

.step-list {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-left: 5px;
  display: none;
}

input.invalid ~ span, select.invalid ~ span {
  display: inline;
}

.view-content label {
  text-transform: capitalize;
}

